In [23]:
import pandas as pd 
import toolbox as tb

In [124]:
title_basics = pd.read_csv("../raw_data/imdb_datasets/films/title_crew.tsv", sep="\t")

In [121]:
title_ratings = pd.read_csv("../raw_data/title_basics_original.tsv", sep="\t")

/home/flameryx/.pyenv/versions/3.8.6/envs/wth_actors_name/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [125]:
title_basics

            tconst            directors                        writers
0        tt0000001            nm0005690                             \N
1        tt0000002            nm0721526                             \N
2        tt0000003            nm0721526                             \N
3        tt0000004            nm0721526                             \N
4        tt0000005            nm0005690                             \N
...            ...                  ...                            ...
7665181  tt9916848  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
7665182  tt9916850  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
7665183  tt9916852  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
7665184  tt9916856           nm10538645                      nm6951431
7665185  tt9916880            nm0996406            nm1482639,nm2586970

[7665186 rows x 3 columns]

In [60]:
title_ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1687
1        tt0000002            6.0       208
2        tt0000003            6.5      1427
3        tt0000004            6.1       122
4        tt0000005            6.1      2224
...            ...            ...       ...
1127682  tt9916580            7.2         5
1127683  tt9916690            6.6         5
1127684  tt9916720            6.2        72
1127685  tt9916766            6.9        16
1127686  tt9916778            7.4        26

[1127687 rows x 3 columns]

In [61]:
title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
1,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,\N,120,"Adventure,Fantasy"
2,tt0001184,movie,Don Juan de Serrallonga,Don Juan de Serrallonga,0,1910,\N,58,"Adventure,Drama"
3,tt0001258,movie,The White Slave Trade,Den hvide slavehandel,0,1910,\N,45,Drama
4,tt0001285,movie,The Life of Moses,The Life of Moses,0,1909,\N,50,"Biography,Drama,Family"
...,...,...,...,...,...,...,...,...,...
330827,tt9916362,movie,Coven,Akelarre,0,2020,\N,90,"Action,Adventure,Drama"
330828,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,\N,123,Drama
330829,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,\N,57,Documentary
330830,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,\N,100,Documentary
330831,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,\N,49,Documentary

In [92]:
len(chosen_ones)

204361

In [103]:
chosen_ones[-1]

238481

In [106]:
ratings_tconst[-1]

'tt9916778'

In [100]:
title_ratings.loc[238482]

tconst           tt0447382
averageRating          6.7
numVotes                30
Name: 238482, dtype: object

In [94]:
len(ratings_tconst)

1127687

In [95]:
ratings_tconst[238481]

'tt0447381'