In [1]:
import pandas as pd 
import toolbox as tb

In [34]:
def find_new_movies(movie_names, df):

    old_titles = list(movie_csv["primaryTitle"])
    new_titles = []

    for movie in movie_names:
        
        if movie[:-7] not in old_titles:
            new_titles.append(movie)
    
    return new_titles



def find_movies_id(movie_names, df):

    new_df = pd.DataFrame()
    counter = 0

    with open("../wth_actors_name/data/movie_names_not_found.txt", "a") as f:

        for movie in movie_names:
            title = movie[:-7]
            year = movie[-5:-1]

            new_row = df[(df["titleType"] == "movie") & (df["primaryTitle"] == title) & (df["startYear"] == year)]
            if len(new_row == 0):
                f.write(movie)
                
            new_df = new_df.append(new_row)
            counter += 1
            print(counter, end="  ", flush=True)

    print()
    return new_df


def find_my_movies(movie_ids_list, df):

    new_df = pd.DataFrame()
    counter = 0

    for movie_id in movie_ids_list:
        new_df = new_df.append(df[df["tconst"] == movie_id])
        counter += 1
        print(counter, end="  ", flush=True)

    
    print()
    print("ALL MY_MOVIES FOUND")
    print()
    return new_df

In [3]:
movie_names = tb.get_movie_names_list()
movie_csv = tb.get_main_movie_csv()

In [4]:
movie_names = find_new_movies(movie_names, movie_csv)

In [5]:
title_basics = pd.read_csv("../raw_data/imdb_datasets/films/title_basics.tsv", sep="\t")

/home/flameryx/.pyenv/versions/3.8.6/envs/wth_actors_name/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
all_movie_data = find_movies_id(movie_names, title_basics)

1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99  100  101  102  103  104  105  106  107  108  109  110  111  112  113  114  115  116  117  118  119  120  121  122  123  124  125  126  127  128  129  130  131  132  133  134  135  136  137  138  139  140  141  142  143  144  145  146  147  148  149  150  151  152  153  154  155  156  157  158  159  160  161  162  163  164  165  166  167  168  169  170  171  172  173  174  175  176  177  178  179  180  181  182  183  184  185  186  187  188  189  190  191  192  193  194  195  196  197  198  199  200  201  202  203  204  205  206  207  208  209  210  211  212  213  214  215  216  217  218  219  220  221  222  223  224  225  226  227  228  229  230  231  232  233  234  235  236  237  238  239  240  241  242  243  244  245  246  247  248  249  250  251  252  253  254  255  256  257  258  259  260  261  262  263  264  265  266  267  268  269  270  271  272  273  274  275  276  277  278  279  280  281  282  283  284  285  286  287  288  289  290  291  292  293  294  295  296  297  298  299  300  301  302  303  304  305  306  307  308  309  310  311  312  313  314  315  316

In [7]:
movies_id_list = list(all_movie_data["tconst"])

In [9]:
title_ratings = pd.read_csv("../raw_data/imdb_datasets/films/title_ratings.tsv", sep="\t")

In [38]:
my_title_ratings = find_my_movies(movies_id_list, title_ratings)

ALL MY_MOVIES FOUND

In [33]:
all_movie_data

Empty DataFrame
Columns: [tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres]
Index: []

In [36]:
all_movie_data.set_index("tconst").join()

Empty DataFrame
Columns: [titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres]
Index: []

pandas.core.frame.DataFrame